doctype html
html(lang="en")
    head
        // Basic Page Needs
        meta(charset="utf-8")
        title AWESOME RESUME
        meta(name="description" content="Awesome Resume")
        meta(name="keywords" content="")
        meta(name="author" content="Mohammed Sabri")
        |
        |
        // Mobile Specific Metas
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        |
        |
        // Normalize
        link(rel="stylesheet" href="css/vendor/normalize/normalize.min.css")
        |
        |
        // Fixed
        link(rel="stylesheet" href="css/vendor/fixed/fixed.css")
        |
        |
        // Wowjs
        link(rel="stylesheet" href="css/vendor/wow.js/animate.css")
        |
        |
        // FontAwesome
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        |
        |
        // Bootstrap
        link(rel="stylesheet" href="css/vendor/bootstrap/bootstrap.min.css")
        |
        |
        // CSS Stylesheet
        link(rel="stylesheet" href="css/output.css")
        |
        |
        // Favicons
        link(rel="shortcut icon" href="favicon/favicon-me.ico")
        |
        |
    body(data-spy="scroll" data-target="#navbarResponsive")
        |
        |
        // Preloader
        #preloader
            .loading
                .obj
                .obj
                .obj
                .obj
                .obj
                .obj
                .obj
                .obj
        |
        |
        // Contact Box
        #sidebar-contact
            .toggle.wow.bounceIn
            .scroll
                h2 Send Us
                form
                    input(type="text" name="" placeholder="Name")
                    input(type="email" name="" placeholder="Email")
                    input(type="rel" name="" placeholder="Phone Number")
                    textarea(placeholder="Message")
                    input(type="submit" name="" value="Send")
        |
        |
        // Start Home Section
        |
        |
        #home
            // Start Navigation
            |
            |
            nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
                |
                |
                a(class="navbar-brand" class="wow bounceIn" href="#")
                    img(src="img/MS Design(moave-white).png")
                button(class="navbar-toggler" class="wow bounceIn" type="button" data-toggle="collapse" data-target="#navbarResponsive")
                    span(class="navbar-toggler-icon")
                .collapse.navbar-collapse#navbarResponsive
                    ul.navbar-nav.ml-auto.wow.bounceIn
                        li.nav-item.wow.bounceIn
                            a(class="nav-link" href="#home") Home
                        li.nav-item.wow.bounceIn
                            a(class="nav-link" href="#course") Course
                        li.nav-item.wow.bounceIn
                            a(class="nav-link" href="#features") Features
                        li.nav-item.wow.bounceIn
                            a(class="nav-link" href="#resources") Resources
                        li.nav-item.wow.bounceIn
                            a(class="nav-link" href="#clients") Clients
                        li.nav-item.wow.bounceIn
                            a(class="nav-link" href="#contact") Contact
                |
                |
            // End Navigation
            |
            |
            // Start Landing Page Section
            |
            |
            .landing
                .home-wrap
                    .home-inner
            .caption.text-center
                h1.wow.bounceIn Web Design Course
                h3.wow.bounceIn Udemy Web Design course
                a(class="btn btn-outline-light btn-lg" class="wow bounceIn" href="#course") Get Started
            |
            |
            // End Landing Page Section
        |
        |
        // End Home Section
        |
        |
        // Start Course Section
        |
        |
        #course
            .col-12.narrow.text-center.wow.bounceIn
                h1.wow.bounceIn Web design advanced course
                p.lead.wow.bounceIn Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet doloribus tempore, accusamus officiis iusto rerum? Error ducimus officia quam voluptates voluptas reiciendis obcaecati deserunt enim maxime sit, doloribus veritatis earum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet doloribus tempore, accusamus officiis iusto rerum? Error ducimus officia quam voluptates voluptas reiciendis obcaecati deserunt enim maxime sit, doloribus veritatis earum
                a(class="btn btn-secondary btn-md" class="wow bounceIn" href="#") Web design Course
        |
        |
        // End Course Section
        |
        |
        // Start Features Section
        |
        |
        #features
            |
            |
            // Start Jumbotron
            |
            |
            .jumbotron
                .narrow.text-center
                    .col-12.wow.bounceIn
                        h3.heading Features
                        .heading-underline
                    .row.text-center
                        .col-md-4
                            .feature.wow.bounceIn
                                i(class="fas fa-play-circle fa-4x" data-fa-transform="shrink-3 up-5")
                                h3 Custom Animation
                                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem nobis fugiat sapiente dolor ex cupiditate excepturi quis ipsum obcaecati similique ab
                        .col-md-4
                            .feature.wow.bounceIn
                                i(class="fas fa-sliders-h fa-4x" data-fa-transform="shrink-4.5 up-4.5")
                                h3 Content Slider
                                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem nobis fugiat sapiente dolor ex cupiditate excepturi quis ipsum obcaecati similique ab
                        .col-md-4
                            .feature.wow.bounceIn
                                i(class="fab fa-wpforms fa-4x" data-fa-transform="shrink-4 up-5")
                                h3 Contact Form
                                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem nobis fugiat sapiente dolor ex cupiditate excepturi quis ipsum obcaecati similique ab
            |
            |
            // End Jumbotron
        |
        |
        // End Features Section
        |
        |
        // Start Resources Section
        |
        |
        #resources
            .fixed-background
                .row.dark.text-center
                    .col-12.wow.bounceIn
                        .heading.text-center Built with care
                        .heading-underline
                    .col-md.wow.bounceIn
                        h3 HTML 5
                        .feature
                            i(class="fas fa-code fa-3x")
                        p.lead Built with the latest, HTML 5
                    .col-md.wow.bounceIn
                        h3 CSS 3
                        .feature
                            i(class="fab fa-css3 fa-3x")
                        p.lead Built with the latest, CSS 3
                    .col-md.wow.bounceIn
                        h3 Bootstrap
                        .feature
                            i(class="fas fa-bold fa-3x")
                        p.lead Built with the latest, Bootstrap 4
                    .col-md.wow.bounceIn
                        h3 Javascript
                        .feature
                            i(class="fab fa-js-square fa-3x")
                        p.lead Built with the latest, ES6
                .fixed-wrap
                    .fixed
        |
        |
        // End Resources Section
        |
        |
        // Start Clients Section
        |
        |
        #clients
        |
        |
        // Start Jumbotron
        |
        |
        .jumbotron
            .col-12.text-center.wow.bounceIn
                .heading Clients
                .heading-underline
            .row
                .col-md-6.clients
                    .row
                        .col-md-4.wow.bounceIn
                            img(src="img/client_1.jpg")
                        .col-md-8.wow.bounceIn
                            blockquote
                                i(class="fas fa-quote-left")
                                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque iure adipisci corrupti exercitationem reprehenderit, eum error, blanditiis natus animi sapiente necessitatibus repellat ipsum laboriosam nisi dolore ullam, autem vel? Id
                                hr.clients-hr
                                cite &#8212; Eric, Small Business Owner
                .col-md-6.clients
                    .row
                        .col-md-4.wow.bounceIn
                            img(src="img/client_2.jpg")
                        .col-md-8.wow.bounceIn
                            blockquote
                                i(class="fas fa-quote-left")
                                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque iure adipisci corrupti exercitationem reprehenderit, eum error, blanditiis natus animi sapiente necessitatibus repellat ipsum laboriosam nisi dolore ullam, autem vel? Id
                                hr.clients-hr
                                cite &#8212; Rachel, Professional Photographer
        |
        |
        // End Jumbotron
        |
        |
        .col-12.narrow.text-center
            p.lead.wow.bounceIn Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit saepe
            a(class="btn btn-secondary btn-md" class="wow bounceIn" href="#") Web design Course
        |
        |
        // End Clients Section
        |
        |
        // Start Contact Section
        |
        |
        #contact
        |
        |
        footer
            .row.justify-content-center
                .col-md-5.text-center.wow.bounceIn
                    img(src="img/MS Design(moave-white).png" class="wow bounceIn")
                    p.wow.bounceIn Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione maxime quisquam accusantium quo dolore placeat animi a, eos sapiente aliquam itaque explicabo iste molestiae voluptatum possimus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione maxime quisquam accusantium quo dolore placeat animi a, eos sapiente aliquam itaque explicabo iste molestiae voluptatum possimus
                    strong Contact Info
                    p.wow.bounceIn (888) 888-8888 <br> email@example.com
                    a(href="#")
                        i(class="fab fa-facebook-f")
                    a(href="#")
                        i(class="fab fa-twitter")
                    a(href="#")
                        i(class="fab fa-instagram")
                hr.socket
                p.copyright.wow.bounceIn &copy; Sabri99 Theme
        |
        |
        // End Contact Section
        |
        |
        // Start JS Stylesheet
        |
        |
        // jQuery CDN
        script(src="js/vendor/jquery/jquery-3.3.1.js")
        |
        |
        // Bootstrap
        script(src="js/vendor/bootstrap/bootstrap.min.js")
        |
        |
        // Wow js
        script(src="js/vendor/wow.js/wow.min.js")
        |
        |
        // Font-Awesome
        script(src="js/vendor/fontawesome/all.min.js")
        |
        |
        // JS Stylesheet
        script(src="js/main.js")
        |
        |
        // End JS Stylesheet

